@charset "utf-8";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }


/* common
*/
a {color:#000000; text-decoration: none; }
body { margin:0; padding:0; font-size:18px; background:#f1f1f1 }
.wrap {
    position:relative;
    margin-left:calc((100vw - 576px) / 2 );
    max-width: 576px
}
header {
    position:fixed;
    left:calc((100vw - 576px) / 2 );
    top:0;
    width:100%;
    max-width:576px;
    background:rgba(255,255,255,1);
    text-align: center;
    z-index: 999;
    height:3.8em;
    border-bottom:1px solid #efefef;
    display:flex; justify-content: space-between; align-items: center;
}
header button {
    width:2.5em; height:2em;
    display:block; background:transparent;
    cursor:pointer;
    border:0;
    font-size:2em;
    color: #333;
    padding:.5em 0;
}
header h1 { font-size:inherit }
header img { height:2.5em; max-width: 100%; max-height: 100% }

/* 공유버튼
*/
#share-buttons {
    position:fixed;
    width:100%;
    max-width:576px;
    background: #fff;
    left:calc((100vw - 576px) / 2 );
    top:-100%;
    padding-top:25px;
    display:block;
    -webkit-transition: all 0.5s 0s ease;
    -moz-transition: all 0.5s 0s ease;
    -o-transition: all 0.5s 0s ease;
    transition: all 0.5s 0s ease;
    z-index: 100;
}
#share-buttons.on {
    z-index: 99;
    top:3.75em;
}
#share-buttons ul {
    width:100%;
    margin:0 auto;
    padding:0;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-size: 14px;
}
#share-buttons ul li {
    width:33%;
    margin-bottom:20px;
}
#share-buttons ul li img {
    width:60px; height:60px; padding:4px;
    display:block; margin-bottom:10px;
}
#share-buttons ul li a {
    text-decoration: none;
    color:#000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#popover-contact-ok,
#popover-contact {
    box-sizing: border-box;
    position:fixed; top:0; width:100%; height:100%;
    max-width: 576px;
    left:calc((100vw - 576px) / 2 );
    z-index: 999999999;
    display:none; justify-content: center; align-items: center;
    background:rgba(0,0,0,0.5);
}
#popover-contact-ok.on,
#popover-contact.on {
    display: flex;
}
#popover-contact-ok img,
#popover-contact img { width:100% }
#popover-contact-ok .contact-wrap,
#popover-contact .contact-wrap { position:relative }
#popover-contact input.text-input {
    border:0; background: transparent; position: absolute;
    padding:0; font-size:18px
}
#popover-contact input.text-input[readonly='readonly'] {
    color:#666666;
}
#popover-contact input.input-checkbox {
    position:absolute;
}
#popover-contact-ok .text-link,
#popover-contact .text-link {
    position:absolute; display:block;
    background:transparent;
    cursor: pointer;
    border:0;
}

#contact-button-wrapper {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    bottom:2%;
    height:80px;
    left:0;
    z-index: 9999;
}
#contact-button-wrapper.on {
    position:absolute;
}

#contact-button {
    display:none;
    justify-content: center;align-items: center;
    padding:20px 0; width:calc((100vw - (100vw - 576px))/2);
    z-index: 99999;
    -webkit-transition: all 0.5s 0s ease;
    -moz-transition: all 0.5s 0s ease;
    -o-transition: all 0.5s 0s ease;
    transition: all 0.5s 0s ease;
    background:#fff;
    border-radius: 80px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#contact-button.show { display:flex; }
#contact-button a { text-align: center; }
#contact-button img { width:50%; animation-delay: 2.0s }

@media (max-width: 576px) {
    body { font-size:15px }
    .wrap { margin-left: 0 }
    header { left:0; margin-left: 0; }
    #popover-contact,
    #popover-contact-ok,
    #share-buttons { left:0; }
    #contact label.input-line b { display:block; width:100%; margin-bottom: 15px  }
    #contact label.input-line input { width:100%; margin-bottom: 15px }

    #contact label.certification { flex-wrap: wrap }
    #contact label.certification input { width:50%; margin-bottom:5px; margin-right:0 }
    #contact label.certification button { width:50%; margin-left:0 }

    #contact-button { width:50%; left:25% }
}

/* 메인슬라이드 디자인
*/
.swiper {
    margin-top:3.8em;
    width:100%;
}
.swiper.subSwiper { margin-top:0; overflow:hidden }
.swiper .swiper-slide { display:flex; justify-content: center; align-items: flex-start; overflow:hidden }
.swiper .swiper-slide img { max-width: 100% }
.swiper .swiper-slide .el { position:absolute; display:block; }
.swiper .swiper-slide.page1 .el.link { text-indent: -10000%; z-index: 999999 }

.swiper .swiper-slide .el.fixed-bottom.fixed { position:fixed; bottom:15% !important; top:auto !important; }

.swiper-button-next, .swiper-button-prev {
    position: fixed;
}
.swiper-button-next {
    left:calc((100vw - 576px)/2 + 576px + 15px)
}
.swiper-button-prev {
    left:calc((100vw - 576px)/2 - var(--swiper-navigation-size))
}

.swiper.subSwiper { }
.swiper.subSwiper .sub-swiper-button-prev {
    left:0;
    position:absolute;
    top:calc(50% - 50px);
    width:9.8%;
    z-index: 999999;
}
.swiper.subSwiper .sub-swiper-button-prev:after { content: none; }
.swiper.subSwiper .sub-swiper-button-next {
    left:auto;
    top:calc(50% - 50px);
    right:0;
    position:absolute;
    width:9.8%;
    z-index: 999999;
}
.swiper.subSwiper .sub-swiper-button-next:after { content: none; }

.swiper.sub2Swiper { }
.swiper.sub2Swiper .sub2-swiper-button-prev {
    left:0;
    position:absolute;
    top:calc(50% - 45px);
    width:9.8%;
    z-index: 999999;
}
.swiper.sub2Swiper .sub2-swiper-button-prev:after { content: none; }
.swiper.sub2Swiper .sub2-swiper-button-next {
    left:auto;
    top:calc(50% - 45px);
    right:0;
    position:absolute;
    width:9.8%;
    z-index: 999999;
}
.swiper.sub2Swiper .sub2-swiper-button-next:after { content: none; }


/* 좌우로 넘겨보세요 팝업
*/
#swipe-info {
    display:none;
    justify-content: center; align-items: center; flex-direction: column;
    position:fixed; width:200px; height:200px; left:calc(50% - 100px); top:calc(50% - 100px);
    z-index: 999;
    background:rgba(0,0,0,0.5);
    border-radius: 25px;
    color:#fff;
}
#swipe-info img { margin-bottom:15px; }

/*  스크롤 다운 정보 팝업
    컨텐츠가 윈도우 사이즈보다 크면 스크롤 하라는 메시지나 나타난다
*/
#scroll-down-wrapper {
    display:none;
    position:fixed; justify-content: center; align-items: center;
    width:100px; height:200px; left:calc(50% - 50px); top:calc(50% - 100px);
    background:rgba(0,0,0,0.5);
    z-index: 999;
    border-radius: 25px;
}
#scroll-down {
    display: block;
    position:relative;
    padding-top: 79px;
    text-align:center;
}
.arrow-down {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 38px;
}
.arrow-down:after {
    content: '';
    display: block;
    margin: 0;
    padding: 0;
    width: 8px;
    height: 8px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}
#scroll-title {
    display: block;
    text-transform: uppercase;
    color: #fff;
    font-family: Helvetica Neue, Helvetica, Arial;
    font-size:14px;
    font-weight:bold;
    letter-spacing:.1em;
}
#scroll-down::before {
    -webkit-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    /* Safari 4+ */

    -moz-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    /* Fx 5+ */

    -o-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    /* Opera 12+ */

    animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    /* IE 10+, Fx 29+ */

    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 90px;
    background: #fff;
    content: ' ';
}
@-webkit-keyframes elasticus {
    0% {
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -o-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -o-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
        -moz-transform-origin: 0 100%;
        -o-transform-origin: 0 100%;
        transform-origin: 0 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
        -moz-transform-origin: 0 100%;
        -o-transform-origin: 0 100%;
        transform-origin: 0 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}
@-moz-keyframes elasticus {
    0% {
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -o-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}
@-o-keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}
@keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}



